<head>
  <script>
    function confirmDelete(bookId, bookTitle) {
      const isConfirmed = confirm(`Are you sure you want to delete "${bookTitle}"?`);
      if (isConfirmed) {
        window.location.href = '/admin/books/delete/' + bookId;
      }
    }
  </script>
</head>

<main class="content-wrapper" id="content-wrapper">
  <div class="table-container">
    <h1>Book Management</h1>

    <!-- Link to add a new book -->
    <a href="/admin/books/add" class="add-button">Add New Book</a>

    <!-- Display the list of books in a table -->
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Description</th>
          <th>Genre</th>
          <th>Price</th>
          <th>Rating</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach(book=> { %>
          <tr>
            <td><strong><%= book.Title %></strong></td>
            <td><%= book.Author %></td>
            <td><%= book.Description %></td>
            <td><%= book.Genre %></td>
            <td>$<%= book.Price %></td>
            <td><%= book.Rating %></td>
            <td class="actions-container">
              <!-- Link to edit a book -->
              <a href="/admin/books/edit/<%= book._id %>">Edit</a>
              <!-- Link to delete a book -->
              <a class="delete-link" onclick="confirmDelete('<%= book._id %>', '<%= book.Title %>')">Delete</a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</main>

<!-- Add any additional content or scripts here -->
