<!-- edit-book-form.ejs -->

<main class="content-wrapper">
  <div class="add-form-container">
    <h2>Edit Book</h2>

    <!-- Form to edit an existing book -->
    <form action="/admin/books/edit/<%= book._id %>" method="post">
      <div class="row">
        <div class="column">
          <label for="title">Title *</label>
          <input type="text" id="title" name="title" class="input1" value="<%= book.Title %>" required>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="releaseDate">Release Date</label>
          <input type="date" id="releaseDate" name="releaseDate" class="input1" value="<%= book.ReleaseDate.toISOString().split('T')[0] %>">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="description">Description *</label>
          <textarea id="description" name="description" class="input1" required><%= book.Description %></textarea>
        </div>
      </div>
      <div class="row"></div>
      <div class="row">
        <div class="column">
          <label for="author">Author *</label>
          <input type="text" id="author" name="author" class="input1" value="<%= book.Author %>" required>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="genre">Genre *</label>
          <input type="text" id="genre" name="genre" class="input1" value="<%= book.Genre %>" required>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="image">Image URL *</label>
          <input type="text" id="image" name="image" class="input1" value="<%= book.Image %>" required>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="price">Price *</label>
          <input type="number" id="price" name="price" class="input1" step="0.01" value="<%= book.Price %>" required>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="rating">Rating *</label>
          <input type="number" id="rating" name="rating" class="input1" step="0.1" value="<%= book.Rating %>"  required>
        </div>
      </div>
      <!-- Add any additional fields as needed -->
      <div class="row">
        <div class="right">
          <div class="submit-btn-container">
            <button type="submit" id="submit-btn">Update Book</button>
          </div>
          <div class="cancel-btn-container">
            <button type="button" id="cancel-btn">Cancel</button>
        </div>
        </div>
      </div>
    </form>
  </div>
</main>
