<head>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }
  
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
  
      th {
        background-color: #f2f2f2;
      }

      .delete-link {
      color: red;
      cursor: pointer;
    }
    </style>
    <script>
        function confirmDelete(bookId) {
          const isConfirmed = confirm('Are you sure you want to delete this book?');
          if (isConfirmed) {
            window.location.href = '/admin/books/delete/' + bookId;
          }
        }
      </script>
  </head>

<h1>Book Management</h1>

  <!-- Link to add a new book -->
  <a href="/admin/books/add">Add New Book</a>

  <!-- Display the list of books in a table -->
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(book => { %>
        <tr>
          <td><strong><%= book.Title %></strong></td>
          <td><%= book.Author %></td>
          <td><%= book.Description %></td>
          <td><%= book.Genre %></td>
          <td>$<%= book.Price %></td>
          <td><%= book.Rating %></td>
          <td>
            <!-- Link to edit a book -->
            <a href="/admin/books/edit/<%= book._id %>">Edit</a>

            <!-- Link to delete a book -->
            <a class="delete-link" onclick="confirmDelete('<%= book._id %>')">Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <!-- Add any additional content or scripts here -->